<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJP9xElaGlUGLtYxRlbQxg7_so2b6Cf0c</string>
	<key>GCM_SENDER_ID</key>
	<string>307825008036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pbl.workradar</string>
	<key>PROJECT_ID</key>
	<string>workradar-1614a</string>
	<key>STORAGE_BUCKET</key>
	<string>workradar-1614a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307825008036:ios:86a1245a62aa875744b531</string>
</dict>
</plist>